{% extends 'courses/base.html' %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<title>Cursos</title>
{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/courses.css' %}">

    <div class="container d-flex justify-content-center">
        <div class="row">
            <h1>Cursos</h1>
            <div class="container-fluid mt-4 d-flex card-deck justify-content-center">
            {% for object, props in object_list.items %}
            <div class="row justify-content-center">
                <div class="col-auto mb-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="/static/{{ object.thumbnail }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h5>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" id="progress-{{ object.slug }}" style="width:{{ props.progress }}%;">{{ props.progress }}%</div>
                            </div>
                            {% if not props.progress %}
                            <div class="completed">
                                <b>0%</b> COMPLETADO
                            </div>
                            {% endif %}
                            
                            <div class="card-footer">
                                <a href="{{ object.get_absolute_url }}" class="btn btn-primary">Ver curso</a>
                            </div>
                            <script>console.log({{ object_list }});</script>
                        </div>
                    </div>
                </div>
            </div>    
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}