{% extends 'courses/base.html' %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<title>Membresias</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Selecciona una membresía</h1>
        <div class="row">
            {% for object in object_list %}
                <div class="col-sm-4 col-md-4">
                    <h2>{{ object.membership_type }}</h2>
                    <p>Pecio: {{ object.price }}€<small>/mes</small></p>
                    <h4>Cursos Incluídos:</h4>
                    <ul>
                        {% for course in object.course_set.all %}
                            <li>{{ course.title }}</li>
                        {% endfor %}
                    {% if object.membership_type != 'Gratis' %}
                    <form method="POST" action="{% url 'memberships:select' %}">
                        {% csrf_token %}
                        {% if object.membership_type != current_membership %}
                            <button class="btn btn-warning">Seleccionar</button>
                        {% else %}
                            <small>Esta es tu membresía actual</small>
                        {% endif %}
                        <input type="hidden" name="membership_type" value="{{ object.membership_type }}">
                    </form>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}