{% extends 'courses/base.html' %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<title>Perfil</title>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex justify-content-start p-3">
            <h1>Mi Perfil</h1>
        </div>
        <div class="d-flex justify-content-start p-3">
            <div class="">
                {% if user_subscription != None %}
                    <h4>Membresía Actual: {{ user_membership.membership.membership_type }}
                        <small>desde {{ user_subscription.get_created_date }}</small></h4>
                    {% if user_subscription.active != False %}
                        <p>Próximo pago: {{ user_subscription.get_next_billing_date }}</p>
                        <a href="{% url 'memberships:cancel' %}">Cancelar suscripción</a>
                    {% else %}
                        <p>No tienes una membresía activa. Puedes revisar los planes <a href="{% url 'memberships:select' %}">aquí</a></p>
                    {% endif %}
                {% endif %}
            </div>
        
        </div>

    </div>
{% endblock %}